@import "_mixin";

/* basic style */
* {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  font-family: "Noto Sans JP", メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
}
a {
  text-decoration: none;
  color: #333;
  display: block;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
img {
  width: 100%;
  vertical-align: bottom;
  display: block;
}
figure {
  margin: 0;
}
p {
  letter-spacing: 0.1em;
}
em {
  font-style: normal;
}

/* basic class */
.flex {
  display: flex;
}
.mx-auto {
  margin: 0 auto;
}
.contents {
  display: contents;
}
.section-heading {
  font-size: 4.5rem;
  font-weight: 700;
  color: #313131;
  margin-top: 0;
  text-align: center;
  letter-spacing: 0.1em;
  @include mq(sm) {
    font-size: min(6.56vw, 4.5rem);
  }
}
.wrap {
  padding: 0 5%;
  max-width: 1300px;
  margin: 0 auto;
}
.sm-only {
  display: none;
  @include mq(sm) {
    display: block;
  }
}
.pc-only {
  display: block;
  @include mq(sm) {
    display: none;
  }
}

/* basic color */
$basic-blue: #005bac;

/* header */
.header {
  background-color: #fff;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 9%);
  &__inner {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 110px;
    @include mq(sm) {
      width: min(30%, 110px);
    }
  }
  &__link--orange {
    @include orange-btn();
    font-size: 2.5rem;
    width: 35%;
    @include mq(sm) {
      font-size: min(3.43vw, 1.5rem);
      width: min(50%, 200px);
      &::after {
        font-size: 15px;
        top: calc(50% - 17px / 2);
        right: 0.2em;
      }
    }
  }
}

/* back to top button */
#back-btn {
  width: 144px;
  height: 32px;
  opacity: 0.7;
  cursor: pointer;
  position: fixed;
  right: 15px;
  bottom: 40px;
  z-index: 1;
  &:hover {
    opacity: 1;
  }
  @include mq(sm) {
    width: 50px;
    height: 50px;
    bottom: 30px;
  }
}

/* catch */
.catch {
  @include section-bg-img("../images/bg_front01.png");
  background-position: bottom;
  position: relative;
  &::before {
    content: "";
    background: linear-gradient(to top, #e5f3fa 0%, #fff 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &__inner {
    flex-direction: column;
    @include section-padding-x();
    gap: 15px;
  }
  &__flex-item {
    &.first {
      width: 70%;
      gap: 15px;
      justify-content: center;
      align-items: baseline;
      figure {
        width: 40%;
        @include mq(sm) {
          width: min(70%, 260px);
        }
      }
      @include mq(sm) {
        flex-direction: column;
        align-items: center;
      }
    }
    &.second {
      gap: 20px;
      justify-content: center;
      position: relative;
      .before {
        width: 60%;
        img:last-child {
          width: 30%;
        }
        @include mq(sm) {
          width: 80%;
        }
      }
      .after {
        img {
          margin-top: 25px;
        }
        @include mq(sm) {
          width: 50%;
        }
      }
      &::after {
        content: "";
        background: url("../images/ico_front01.svg") no-repeat;
        background-size: cover;
        width: 58px;
        height: 58px;
        position: absolute;
        bottom: -70px;
        @include mq(sm) {
          width: 40px;
          height: 40px;
          bottom: -40px;
        }
      }
      @include mq(sm) {
        flex-direction: column;
        align-items: center;
      }
    }
    &.third {
      gap: 25px;
      margin-top: 60px;
      div {
        width: 50%;
        text-align: center;
        @include mq(sm) {
          width: 100%;
        }
      }
      @include mq(sm) {
        flex-direction: column-reverse;
        margin-top: 40px;
      }
    }
    &.fourth {
      justify-content: space-between;
      margin-top: 50px;
      div {
        width: 32%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        @include mq(sm) {
          width: min(100%, 450px);
          margin: 0 auto;
        }
      }
      @include mq(sm) {
        flex-direction: column;
        gap: 75px;
      }
    }
  }
  &__heading {
    color: $basic-blue;
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0;
    text-align: center;
    span {
      font-size: 1.7em;
      @include mq(sm) {
        font-size: 1.6em;
      }
    }
    @include mq(sm) {
      font-size: min(8.75vw, 4.8rem);
    }
  }
  &__label {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 13px;
    @include mq(sm) {
      font-size: min(4.37vw, 2.6rem);
    }
  }
  &__link--white {
    @include white-btn();
    font-size: 2.4rem;
    padding: 25px 10px;
    letter-spacing: 0.1em;
    @include mq(sm) {
      font-size: min(3.75vw, 2.4rem);
      max-width: 600px;
      margin: 0 auto;
      &::after {
        font-size: 20px;
        top: calc(50% - 22px / 2);
      }
    }
  }
  &__link--orange {
    @include orange-btn();
    font-size: 2.4rem;
    padding: 25px 10px;
    letter-spacing: 0.1em;
    @include mq(sm) {
      font-size: min(3.75vw, 2.4rem);
      max-width: 600px;
      margin: 0 auto;
      &::after {
        font-size: 20px;
        top: calc(50% - 22px / 2);
      }
    }
  }
  &__text {
    font-size: 2.2rem;
    text-align: center;
    @include mq(sm) {
      font-size: min(3.43vw, 2.2rem);
    }
  }
  &__img--user {
    position: relative;
    top: -46px;
    background-color: transparent;
    width: 132px;
    height: 132px;
    @include mq(sm) {
      width: 110px;
      height: 110px;
    }
  }
  &__voice {
    font-size: 2.4rem;
    text-align: center;
    letter-spacing: 0.2em;
    margin-top: 0;
    span {
      font-weight: 700;
      font-size: inherit;
      background: linear-gradient(transparent 70%, #fff0e5 0%);
    }
    @include mq(sm) {
      font-size: min(5vw, 2.4rem);
    }
  }
  &__icon--dot {
    width: 18px;
    height: 4px;
  }
  &__name {
    font-size: 2.1rem;
    color: $basic-blue;
    @include mq(sm) {
      font-size: min(4.37vw, 2.1rem);
    }
  }
}

/* problem */
.problem {
  @include section-bg-img("../images/bg_front02.png");
  @include section-padding-x();
  &__img {
    img {
      width: 80%;
    }
  }
  &__text {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    @include mq(sm) {
      font-size: min(5.62vw, 2.8rem);
      margin-bottom: 15px;
    }
  }
  &__icon {
    width: 8px;
    height: 34px;
    @include mq(sm) {
      width: min(1.56vw, 8px);
      height: min(9.37vw, 34px);
      margin-bottom: 30px;
    }
  }
}

/* strength */
.str {
  background-color: #fff7eb;
  margin-top: 11px;
  position: relative;
  padding-bottom: 5%;
  &__inner {
    flex-direction: column;
    gap: 30px;
  }
  &__img {
    width: 70%;
    margin-top: -50px;
    @include mq(sm) {
      width: 100%;
      max-width: 450px;
    }
  }
  &__flex-item {
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
    gap: 105px 0;
    .flex {
      flex-direction: column;
      width: 47%;
      background-color: #fff;
      border-radius: 10px;
      align-items: center;
      gap: 15px;
      @include mq(sm) {
        width: min(100%, 550px);
      }
    }
    @include mq(sm) {
      margin-top: 40px;
      flex-direction: column;
      gap: 45px 0;
    }
  }
  &__img--number {
    margin-top: -50px;
    @include mq(sm) {
      width: 80%;
      margin-top: -30px;
    }
  }
  &__text--blue {
    font-size: 2.8rem;
    font-weight: 700;
    color: $basic-blue;
    margin: 0;
    text-align: center;
    @include mq(sm) {
      font-size: min(5.62vw, 2.8rem);
    }
  }
  &__line {
    width: 90%;
    border-top: 5px solid #fff7eb;
    border-left: none;
  }
  &__text--normal {
    font-size: 2.3rem;
    @include mq(sm) {
      font-size: min(3.75vw, 2.3rem);
    }
  }
}

/* function */
.function {
  @include section-bg-img("../images/bg_front03.png");
  background-size: contain;
  margin-top: 11px;
  @include section-padding-x();
  &__flex-item {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 0;
    .flex {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 31%;
      background-color: #fff;
      box-shadow: 0 0 27px rgba(210, 230, 240, 80%);
      border-radius: 10px;
      padding: 20px 0;
      @include mq(sm) {
        width: 48%;
      }
    }
    @include mq(sm) {
      max-width: 500px;
    }
  }
  &__img {
    width: 65%;
  }
  &__text {
    font-size: 2.3rem;
    span {
      font-size: inherit;
      font-weight: 700;
    }
    @include mq(sm) {
      font-size: min(3.75vw, 2.3rem);
    }
  }
  &__img--woman {
    width: 50%;
    margin-top: 50px;
    @include mq(sm) {
      width: min(100%, 500px);
    }
  }
  &__text--blue {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 0rem;
    color: $basic-blue;
    @include mq(sm) {
      font-size: min(4.62vw, 2.8rem);
    }
  }
  &__text--normal {
    text-align: center;
    font-size: 2.4rem;
    @include mq(sm) {
      font-size: min(3.75vw, 2.4rem);
    }
  }
}

/* cta */
.cta {
  @include section-bg-img("../images/bg_front04.png");
  @include section-padding-x();
  &__flex-item {
    gap: 20px;
    &.after {
      margin-top: 30px;
      justify-content: center;
      gap: 25px;
    }
    @include mq(sm) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__img {
    width: 50%;
    &.before {
      img:last-child {
        width: 45%;
      }
    }
    @include mq(sm) {
      width: min(90%, 500px);
    }
  }
  &__link--white {
    @include white-btn();
    width: 50%;
    font-size: 2.4rem;
    padding: 25px 10px;
    letter-spacing: 0.1em;
    @include mq(sm) {
      width: min(100%, 550px);
      font-size: min(3.75vw, 2.3rem);
      &::after {
        font-size: 25px;
        top: calc(50% - 25px / 2);
        right: 0.2em;
      }
    }
  }
  &__link--orange {
    @include orange-btn();
    width: 50%;
    font-size: 2.4rem;
    padding: 25px 10px;
    letter-spacing: 0.1em;
    @include mq(sm) {
      width: min(100%, 550px);
      font-size: min(3.75vw, 2.3rem);
      &::after {
        font-size: 25px;
        top: calc(50% - 25px / 2);
        right: 0.2em;
      }
    }
  }
  &__text {
    font-size: 2.2rem;
    margin-top: 30px;
    text-align: center;
    @include mq(sm) {
      font-size: min(3.43vw, 2.2rem);
    }
  }
}

/* trust */
.trust {
  background-color: #fff7eb;
  @include section-padding-x();
  &__heading {
    position: relative;
    width: 75%;
    span {
      font-size: 1.2rem;
      position: absolute;
      top: 49px;
      right: 143px;
      @include mq(sm) {
        top: 51px;
        right: 58px;
      }
    }
  }
  &__flex-item {
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    @include mq(sm) {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__img {
    width: 46%;
    @include mq(sm) {
      width: min(100%, 550px);
      margin: 0 auto;
    }
  }
  &__icon {
    i {
      font-size: 4.8rem;
      color: #ff8228;
    }
  }
}

/* recommend */
.recommend {
  background-size: 12px 12px;
  background-image: radial-gradient(#ebebeb 10%, transparent 10%);
  @include section-padding-x();
  &__flex-item {
    margin-top: 30px;
    justify-content: space-between;
    .flex {
      width: 31%;
      flex-direction: column;
      text-align: center;
      gap: 25px;
      @include mq(sm) {
        width: 100%;
      }
    }
    @include mq(sm) {
      flex-direction: column;
    }
  }
  &__label {
    color: $basic-blue;
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: -42px;
    z-index: 1;
    letter-spacing: 0.1em;
  }
  &__text--voice {
    position: relative;
    background: #e5f3fa;
    padding: 30px;
    line-height: 1.8;
    text-align: center;
    font-size: 2.3rem;
    border-radius: 20px;
    margin: 0;
    span {
      font-weight: 700;
      font-size: inherit;
    }
    &::after {
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      pointer-events: none;
      position: absolute;
      border-color: rgba(238, 122, 5, 0);
      border-top-width: 10px;
      border-bottom-width: 10px;
      border-left-width: 10px;
      border-right-width: 10px;
      margin-left: -10px;
      border-top-color: #e5f3fa;
      top: 100%;
      left: 50%;
    }
    @include mq(sm) {
      font-size: min(3.75vw, 2.3rem);
      padding: 20px;
      width: min(80%, 450px);
      margin: 0 auto;
    }
  }
  &__img {
    width: 35%;
  }
  &__text--name {
    font-size: 2rem;
    font-weight: 700;
    @include mq(sm) {
      font-size: min(4.68vw, 2rem);
    }
  }
}

/* usage */
.usage {
  background-size: 12px 12px;
  background-image: radial-gradient(#ebebeb 10%, transparent 10%);
  @include section-padding-x();
  &__flex-item {
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    .flex {
      width: 47%;
      background-color: #e5f3fa;
      flex-direction: column;
      border-radius: 20px;
      align-items: center;
      padding: 25px 0;
      @include mq(sm) {
        width: min(100%, 550px);
        margin: 0 auto;
      }
    }
  }
  &__img {
    width: 80%;
    @include mq(sm) {
      max-width: 400px;
    }
  }
  &__text {
    font-size: 2.3rem;
    text-align: center;
    span {
      font-size: inherit;
      font-weight: 700;
    }
    @include mq(sm) {
      font-size: min(3.75vw, 2.3rem);
    }
  }
}

/* e-Tax */
.e-tax {
  @include section-bg-img("../images/bg_front05.png");
  @include section-padding-x();
  margin-top: 11px;
  &__img {
    width: 50%;
    @include mq(sm) {
      width: min(100%, 500px);
    }
  }
  &__text {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 40px;
    &.last {
      font-size: 2rem;
      margin-bottom: initial;
      @include mq(sm) {
        font-size: min(3.43vw, 2rem);
      }
    }
    @include mq(sm) {
      font-size: min(3.75vw, 2.4rem);
      margin-bottom: 20px;
    }
  }
  &__text--blue {
    font-size: 2.4rem;
    color: $basic-blue;
    text-align: center;
    margin-bottom: 40px;
    span {
      font-size: inherit;
      background: linear-gradient(transparent 70%, #fff0e5 0%);
    }
    @include mq(sm) {
      font-size: min(3.75vw, 2.4rem);
      margin-bottom: 20px;
    }
  }
}

/* usable */
.usable {
  background-color: rgba(255, 247, 235, 0.98);
  background-image: linear-gradient(-90deg, #fff 50%, transparent 50%);
  background-size: 9px 9px;
  @include section-padding-x();
  margin-top: 11px;
  &__flex-item {
    background-color: #fff;
    padding: 40px;
    border-radius: 30px;
    align-items: center;
    @include mq(sm) {
      flex-direction: column;
      padding: 15px;
    }
  }
  &__img {
    width: 28%;
    position: relative;
    img {
      position: absolute;
      top: -157px;
      right: 25px;
      max-width: 300px;
      @include mq(sm) {
        top: initial;
        position: static;
      }
    }
    @include mq(sm) {
      width: min(50%, 200px);
    }
  }
  &__list {
    @include mq(sm) {
      margin-top: 30px;
    }
  }
  &__list-item {
    font-size: 2.4rem;
    font-weight: 700;
    border-bottom: 2px solid rgba(235, 130, 40, 0.3);
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
    &::before {
      content: "";
      background: url(../images/ico_front04.svg) no-repeat;
      background-size: contain;
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      left: 0;
      top: calc(50% - 30px / 2);
      @include mq(sm) {
        width: 20px;
        height: 20px;
        top: 5px;
      }
    }
    em {
      color: #ff8228;
      font-size: inherit;
    }
    @include mq(sm) {
      font-size: min(3.75vw, 2.3rem);
      line-height: 1.8;
      padding-left: 30px;
      padding-bottom: 10px;
    }
  }
  & + .cta {
    margin-top: 11px;
  }
}

/* sapport */
.sapport {
  @include section-bg-img("../images/bg_front06.png");
  background-size: contain;
  background-position: top;
  @include section-padding-x();
  &__icon--attention {
    width: 109px;
    height: 45px;
  }
  &__heading {
    margin-top: 35px;
  }
  &__text {
    font-size: 2.4rem;
    text-align: center;
    @include mq(sm) {
      font-size: min(3.75vw, 2.4rem);
    }
  }
  &__flex-item {
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px 0;
    @include mq(sm) {
      max-width: 450px;
    }
  }
  &__icon-wrap {
    background-color: #e5f3fa;
    padding: 30px;
    aspect-ratio: 1/1;
    border-radius: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    width: 21%;
    text-align: center;
    img {
      width: 70%;
    }
    figcaption {
      font-size: 2.3rem;
      font-weight: 700;
      margin-top: 20px;
      letter-spacing: 0.1em;
      @include mq(sm) {
        font-size: min(3.75vw, 2.3rem);
      }
    }
    @include mq(sm) {
      width: 45%;
    }
  }
  &__img {
    width: 60%;
    margin-top: 50px;
    @include mq(sm) {
      width: min(100%, 500px);
    }
  }
  &__text--big {
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    @include mq(sm) {
      font-size: min(8.12vw, 4.5rem);
    }
  }
}

/* security */
.security {
  @include section-bg-img("../images/bg_front07.png");
  padding-bottom: 5%;
  &__img {
    width: 161px;
    height: 150px;
    position: relative;
    img {
      position: absolute;
      top: -50%;
    }
    @include mq(sm) {
      width: 100px;
      height: 93px;
    }
  }
  &__heading {
    margin-top: -50px;
    margin-bottom: 10px;
    @include mq(sm) {
      padding-top: 20px;
    }
  }
  &__text {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 0;
    @include mq(sm) {
      font-size: min(3.75vw, 2.4rem);
    }
  }
  &__flex-item {
    margin-top: 50px;
    justify-content: space-between;
    .flex {
      flex-direction: column;
      width: 48%;
      background-color: #fff;
      border-radius: 20px;
      @include mq(sm) {
        width: 100%;
      }
    }
    @include mq(sm) {
      flex-direction: column;
      gap: 35px;
    }
  }
  &__flex-heading {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    background-color: $basic-blue;
    margin-top: 0;
    text-align: center;
    padding: 30px;
    letter-spacing: 0.1em;
    border-radius: 20px 20px 0 0;
    @include mq(sm) {
      font-size: min(3.75vw, 2.4rem);
    }
  }
  &__flex-img {
    width: 50%;
    @include mq(sm) {
      max-width: 200px;
    }
  }
  &__flex-text {
    font-size: 2.4rem;
    padding: 20px;
    text-align: center;
    em {
      font-size: inherit;
      font-weight: 700;
    }
    @include mq(sm) {
      font-size: min(3.75vw, 2.4rem);
      padding: 15px;
    }
  }
  &__list {
    margin-top: 24px;
    padding: 30px 30px 0 30px;
    li {
      font-size: 2.4rem;
      font-weight: 700;
      position: relative;
      margin-bottom: 10px;
      &::before {
        content: "";
        width: 7px;
        height: 7px;
        display: inline-block;
        background-color: #333;
        border-radius: 100vh;
        position: absolute;
        top: 0;
        left: -12px;
        margin-top: 15px;
        @include mq(sm) {
          margin-top: 2%;
          width: min(2.18vw, 12px);
          height: min(2.18vw, 12px);
        }
      }
      @include mq(sm) {
        font-size: min(3.75vw, 2.4rem);
        padding-left: 2%;
      }
    }
    @include mq(sm) {
      padding: 20px 20px 0 30px;
    }
  }
  &__list-text {
    font-size: 2.4rem;
    margin-top: 0;
    padding: 20px;
    @include mq(sm) {
      font-size: min(3.75vw, 2.4rem);
    }
  }
  & + .cta {
    margin-top: 11px;
  }
}

/* plan */
.plan {
  background-color: rgba(229, 243, 250, 0.98);
  background-image: linear-gradient(-90deg, #feffff 50%, transparent 50%);
  background-size: 9px 9px;
  @include section-padding-x();
  &__flex-item {
    margin-top: 50px;
    justify-content: space-between;
    .flex {
      flex-direction: column;
      width: 48%;
      background-color: #fff;
      border-radius: 20px;
      padding-bottom: 30px;
      @include mq(sm) {
        width: 100%;
      }
    }
    @include mq(sm) {
      flex-direction: column;
    }
  }
  &__flex-heading {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    background-color: $basic-blue;
    margin-top: 0;
    text-align: center;
    padding: 30px;
    letter-spacing: 0.1em;
    border-radius: 20px 20px 0 0;
    @include mq(sm) {
      font-size: min(3.75vw, 2.4rem);
    }
  }
  &__flex-img {
    width: 60%;
    @include mq(sm) {
      max-width: 200px;
    }
  }
  &__caption {
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 0;
    @include mq(sm) {
      font-size: min(4.36vw, 2.8rem);
    }
  }
  &__title {
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
    @include mq(sm) {
      font-size: min(3.12vw, 2rem);
    }
  }
  &__line {
    width: 90%;
    border-top: 1px solid #ccdeee;
    border-left: none;
    border-bottom: none;
  }
  &__catch {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 30px;
    background: linear-gradient(transparent 80%, #fff0e5 0%);
    em {
      font-size: 2.1em;
    }
    @include mq(sm) {
      font-size: min(5.2vw, 4.2rem);
    }
  }
  &__catch--after {
    margin-top: 30px;
    .flex {
      flex-direction: row;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding-bottom: 0;
      @include mq(sm) {
        flex-direction: column;
      }
    }
    & + .plan__link--orange {
      margin-top: 40px;
    }
  }
  &__desc-title {
    font-weight: 700;
    &.before {
      font-size: 2.2rem;
      @include mq(sm) {
        font-size: min(3.43vw, 2.2rem);
      }
    }
    &.after {
      font-size: 1.8rem;
      @include mq(sm) {
        font-size: min(3.75vw, 1.8rem);
        margin-bottom: 15px;
      }
    }
  }
  &__desc-data {
    font-weight: 700;
    margin: 0;
    &.before {
      font-size: 2.8rem;
      @include mq(sm) {
        font-size: min(4.36vw, 2.8rem);
      }
      span {
        &:first-of-type {
          font-size: 0.8em;
        }
        &:nth-of-type(2) {
          font-size: 0.6em;
        }
      }
    }
    &.after {
      font-size: 4.2rem;
      line-height: 0.5;
      margin-left: 10px;
      display: inline;
      background: linear-gradient(transparent 70%, #fff0e5 0%);
      em {
        font-size: 2.1em;
      }
      @include mq(sm) {
        font-size: min(5.06vw, 4.2rem);
        margin-left: 0;
      }
    }
  }
  &__icon {
    width: 28px;
    height: 30px;
    @include mq(sm) {
      transform: rotate(90deg);
      width: 20px;
      height: 21px;
    }
  }
  &__link--orange {
    @include orange-btn();
    margin-top: 30px;
    font-size: 2.4rem;
    padding: 20px;
    width: 70%;
    @include mq(sm) {
      width: 90%;
      font-size: min(4.37vw, 2.4rem);
      &::after {
        font-size: 25px;
        top: calc(50% - 25px / 2);
      }
    }
  }
  &__link--blue {
    color: $basic-blue;
    border-bottom: 1px solid $basic-blue;
    font-size: 1.8rem;
    letter-spacing: 0.2em;
    margin-top: 30px;
    &:hover {
      color: #ff538c;
    }
    @include mq(sm) {
      font-size: min(3.75vw, 1.8rem);
    }
  }
  &__note {
    border: 1px solid #030000;
    margin-top: 30px;
    padding: 30px 13px;
    text-align: center;
    .plan__link--blue {
      display: inline-block;
      margin: 0;
      &::after {
        content: "";
        background: url("../images/ico_front15.png") no-repeat;
        background-size: contain;
        width: 15px;
        height: 12px;
        display: inline-block;
      }
    }
  }
  &__text--big {
    font-size: 1.8rem;
    @include mq(sm) {
      font-size: min(3.75vw, 1.8rem);
    }
  }
  &__text--small {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 30px;
    line-height: 0.2;
    .plan__link--blue {
      display: inline-block;
      padding-bottom: 10px;
      font-size: 1.6rem;
      &::after {
        content: "";
        background: url("../images/ico_front15.png") no-repeat;
        background-size: contain;
        width: 15px;
        height: 12px;
        display: inline-block;
      }
      @include mq(sm) {
        font-size: inherit;
        padding-bottom: 2px;
        margin-top: 0;
      }
    }
    @include mq(sm) {
      line-height: initial;
      font-size: min(3.33vw, 1.6rem);
    }
  }
}

/* notice */
.notice {
  @include section-padding-x();
  &__list {
    padding: 0 5%;
  }
  &__item {
    margin-top: 10px;
    font-size: 1.6rem;
    padding-left: 1em;
    text-indent: -1em;
    line-height: 1.8;
    @include mq(sm) {
      font-size: min(3.33vw, 1.6rem);
    }
  }
  &__number {
    font-size: inherit;
  }
}

/* footer */
.footer {
  &__upper {
    @include section-padding-x();
  }
  &__list {
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px 0;
  }
  &__item {
  }
  &__link {
    font-size: 2rem;
    &:hover {
      color: #ff538c;
    }
    @include mq(sm) {
      font-size: min(3.11vw, 2rem);
    }
  }
  &__lower {
    background-color: $basic-blue;
    padding: 2% 0;
  }
  &__copy {
    color: #fff;
    font-size: 1.2rem;
    display: block;
    text-align: center;
    @include mq(sm) {
      font-size: min(3.125vw, 1.2rem);
    }
  }
}
